
:root {
  --raisin-black: #161925;
  --alice-blue: #F1F6F9;
  --celadon-blue: #3F7DA3;
  --prussian-blue: #23395B;
  --Glaucous: #5D85C0;
  --standard-margin: 1em;
}

.mission-heading {
  padding-top: 1rem;
  text-align: center;
  font-size: 4em;
  font-style: italic;
  background: linear-gradient(180deg, #161925 0.01%, #5D85C0 0.02%, #3F7DA3 29.69%, #F1F6F9 64.58%, #161925 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.mission-section {
  margin-top: 1rem;
  text-align: center;
}

.nav {
  background: var(--Glaucous);
  display: flex;
  padding-bottom: 5px;
}


.nav .nav-link:hover,
.nav .nav-link:active {
  color: #0d6efd;
  font-weight: 700;
}

.App-link {
  color: #61dafb;
}


.mission-text {
  margin-top: 1rem;
  font-size: 1.5em;
  color: #284F67;
  min-width: fit-content;
  text-align: center;
}


.nav .nav-link {
  color: var(--alice-blue);
  font-size: 1.25em;
}

.icon {
  height: 50px;
  width: 50px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin-left: 10em;
}

.nav-user {
  display: flex;
  margin-left: 500px;
}

.nav-item {
  color: white;
  text-decoration: none;
  text-align: center;
}

.post-container {
  display: flex;
  border: .2px solid rgb(177, 171, 171);
  max-width: fit-content;
  padding-right: var(--standard-margin);
  
}

.user-img {
  height: 75px;
  width: 75px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin-left: var(--standard-margin);
  margin-right: var(--standard-margin);
  margin-top: var(--standard-margin);
}

.post-body {
  margin-top: var(--standard-margin);
}

/* .center {
  display: grid;
  place-content: center;
} */