:root {
  --raisin-black: #161925;
  --alice-blue: #F1F6F9;
  --celadon-blue: #3F7DA3;
  --prussian-blue: #23395B;
  --Glaucous: #5D85C0;
}

.mission-heading {
  padding-top: 1rem;
  text-align: center;
  font-size: 4em;
  font-style: italic;
  color: var(--celadon-blue);
}

.mission-section {
  margin-top: 1rem;
  text-align: center;
  font-size: 4em;
  color: var(--celadon-blue);
}

.nav {
  background-color: var(--Glaucous);
  margin: 0;
  padding: .5em;
}

.nav-link {
  color: rgb(255, 255, 255);
  font-size: 1.25em;
}

.nav-link:active {
  color: #0d6efd;
}

.mission-container {
  background-color: var(--alice-blue);
}

.mission-text {
  margin-top: 1rem;
  font-size: .5em;
  color: #284F67;
  min-width: fit-content;
  text-align: center;
}