/* LoginSignUpPage */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 25px;
    background-color: ;
}


/* Login & Signup Cards*/
.card {
    display: flex; 
    flex-direction: column;
    padding: 25px;
    margin-right: 25px;
}

.card * {
    margin-top: 10px;
}

.card-input {
    max-width: fit-content;
}

.card-btn {
    display: flex;
    /* justify-content: center; */
}