/* LoginSignUpPage */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* Login & Signup Cards*/
.card {
    display: flex; 
    flex-direction: column;
    padding: 25px;
    margin-right: 25px;
}

.form-box{
margin-top: 100px;
margin-bottom:100px;
}

.card * {
    margin-top: 10px;
    margin-bottom:100px;
}

.card-input {
    max-width: fit-content;
}

.card-btn {
    display: flex;
    /* justify-content: center; */
}


.signup-title{
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}
.login-form-heading{
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}