/* .center {
background-color: aliceblue;
} */

.post-container .post-body {
    color: rgb(0, 0, 0);
    list-style-type: none
}

.post-body {
    text-decoration: underline;
    text-decoration-color: #c8ddea;
}

/* Remove birthday */
/* Remove the space after @ */
/* Make sure to ge the icon
 post icon bigger
 comment icon bigger */
 /* Meeage should be the main fearure of a post*/
 /* Five differnet users, 10 differnet post, 2 comments */
 /* Differneate is the comment itself */
 /* Filer by hashtag */
 /* Delete on the User */