* {
    justify-content: center;
}

.Avatar {
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
  }

.button {
    color: #5D85C0;
    padding: 10px;
    
}

.user-label {
    font-size: 1.25em;
    color: #161925;
    margin-bottom: .25em;
    font-family: monospace;
}

.user-input {
    margin-right: .5em;
    border-radius: 20px;
    padding: 5px;
    border: 2px solid #3F7DA3;
    text-align: center;
    font-family: monospace;
}

.user-input:active {
    border: 2px solid #3F7DA3
}

.user-button {
    border: 2px solid #3F7DA3;
    background-color: transparent;
    border-radius: 20px;
    padding: 5px 10px;
    font-style: italic;
    color: #3F7DA3;
}

.user-button:hover {
    font-weight: bold;
    background-color: #3F7DA3;
    color: white;
}

form {
    text-align: center;
}

.user-container {

}